# Entornos virtuales
venv/
env/
.venv

# Caché de Python
__pycache__/
*.pyc
.json

# Variables de entorno
.env
*.env
*.txt

#claves de configuracion en js
src/front-end/config/config.js

design/
.agents/